/* Removes the default white border on website */
*{
    margin:0;
    padding:0;
}

/* set default font for whole website */
body{
    font-family: monospace;
}
/* set header to a flex box and applied styling attributes*/
.header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    color:dimgrey;
    background-color: dimgrey;  
}
.header nav{
    font-size: 40px;
    position: relative;
    top: 40px;
    right: 30px;
}
.header nav ul{
    list-style-type: none;
}
/* Made nav list to be in a row not the default column */
.header nav ul li {
    display: inline-block;
}
/* Styled the displayed title on website */
h1{
    padding-left: 40px;
    background-color: skyblue;
    margin: 20px 0px;
    font-size: 400%;
    height: 60px;
    width: fit-content;
}
/* removed default anchor attributes for my own */
a {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
    color: skyblue;
}
/* top decorative image container */
.container {
    position: relative;
    text-align: right;
    color: ivory;
}
/* Used object-fit to crop the image 
rather than resizing so resolution stays the same */
.picture{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
/* class to place the text in top decorative image */
.bottom-right{
    font-size: 20px;
    position: absolute;
    right: 25px;
    bottom: 15px;
    background-color: skyblue;
    padding: 5px;
}
/* class to place the title of the project within each image */
.bottom-left{  
    font-size: 20px;
    position: relative;
    left:0px;
    top:350px;
    background-color: skyblue;
    padding: 5px;
    width: fit-content;
    z-index: 3;
    color: ivory;
}
/* set main to be a flexbox */
main{
    display: flex;
    margin: 5px 0;
}
/* class for the styling of flex box for
 text on the left side of each section*/
.label {
    flex: 0 0 20%;
    border-right: 5px solid navy;
    height: auto;
    text-align: right;
    margin: 5px;
}
/* class to clean up he look of the title of each section */
.margin {
    font-size: 40px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
}
/* sets the sizing of paragraph about me in the flex box */
.paragraph {
    flex: 4 1 auto;
    width: 60%;
    font-size: 20px;
    margin: 20px 60px 20px 20px;
}
/* class for work section set to flex box */
section {
    display: flex;
    flex: 4 1 auto;
    width: 100%;
    margin: 5px 0;
}
/* class section for images set to flex box and size, direction is set */
.images{
    display: flex;  
    flex: 4 1 auto;
    width: 60%;
    margin: 20px 60px 20px 20px;
    flex-direction: column;
}
/* class for big image specifically */
.big{
    position: relative;
    background-image: url(../Assets/images/Booya.PNG);
    background-size: 100% 400px;
    flex: 1 1 auto;
    width: 100%;
    height: 400px;
    border: solid skyblue 5px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: black;
}
/* class for small images set to flex box*/
.smallSection {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
/* image set up and border set up */
.small{
    position: relative;
    background-image: url(../Assets/images/beach.jpg);
    text-decoration: none;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 40%;
    height: 400px;
    z-index: 0;
    border: solid skyblue 5px;
    margin: 10px;
    color: white;
}
/* footer  set to be a flex box*/
footer{
    display: flex;
}
/* class for footer links to display nicely in a flex box */
.foot {
    justify-content: space-evenly;
    display: flex;
    flex: 4 1 auto;
    flex-direction: row;
}
h4{
    margin: 20px;
    font-size: 20px;
}
/* class for custom decoration anchors in footer */
.links{
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
    color: navy;
    margin: 20px;
}
.secondProj{
    background-image: url(./images/workDayScheduler.PNG);
    background-size: 100% 400px;
}
.thirdProj{
    background-image: url(./images/DogAdoption.PNG);
    background-size: 100% 400px;
}
.fourthProj{
    background-image: url(./images/weatherDash.PNG);
    background-size: 100% 400px;
}
.fifthProj{
    background-image: url(../Assets/images/tech-blog.PNG);
    background-size: 100% 400px;
}
/* class with psuedo element to set up the overlay image with an opacity */
.small::after{
    background: rgb(104, 205, 255);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .2;
    transition: opacity .3s;
}
/* psuedo element to cause the opacity
 to shift to zero when your mouse hovers over the image */
.small:hover::after {
    transition: opacity .3s;
    opacity: 0;
}
/* class with psuedo element to set up the overlay image with an opacity */
/* repeated code to satisfy the different sizing of the bigger image */
.big::after{
    background: rgb(104, 205, 255);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .2;
    transition: opacity .3s;
}
/* psuedo element to cause the opacity
 to shift to zero when your mouse hovers over the image */
.big:hover::after {
    transition: opacity .3s;
    opacity: 0;
}
/* media query to adjust website when the width is changed to below 800px */
@media screen and (max-width: 800px) {
    .header {
        height: 400px;
        flex-direction: column;
    }
    .header nav ul li {
        display: block;
    }

    .header nav{
        font-size: 40px;
        position: relative;
        text-align: center;
        top: -20px;
        right: 0px;

    }
    .foot{
        width: 100%;
        flex-wrap: wrap;
    }
}


